(
    day: "Ср",
    schedule: [
        (
            time: "11:30-13:00",
            weeks: [2, 4, 6, 8, 10, 12, 14, 16],
            group: "ИНФОРМ КСИТ 2",
            subject: "ИНФОРМАТИКА (ЛЕК)",
            type: "АКТОВЫЙ ЗАЛ",
            class: "ул. Ломоносова, д.9, лит. М",
            format: "Очно - дистанционный",
        ),
        (
            time: "11:30-13:00",
            weeks: [2, 4, 6, 8, 10, 12, 14, 16],
            group: "ИНФОРМ СИППО 1",
            subject: "ИНФОРМАТИКА (ЛЕК)",
            type: "АКТОВЫЙ ЗАЛ",
            class: "ул. Ломоносова, д.9, лит. М",
            format: "Очно - дистанционный",
        ),
    ]
)
